# Copy this file to Vagrantfile.aws-ami and fill the AMI ID of the
# StorageScale_base AMI that was created according to the README.me

# The ID of the StorageScale_base AMI
$my_aws_StorageScale_base_AMI_ID  = 'xxx'
