# Copy this file to Vagrantfile.aws-credentials and fill your credentials

# Your AWS access key ID
$my_aws_access_key_id     = 'xxx'

# Your AWS secret access key
$my_aws_secret_access_key = 'xxx'

# The name of your AWS ssh key pair
$my_aws_keypair_name      = 'xxx'

# Your file with the private ssh key on your host
$my_aws_private_key_path  = 'xxx.pem'